body {
    margin: 0;
    min-height: 500vh;
}

:root {
    --ci1: #33658A;
    --ci2: #86BBD8;
    --ci3: #758E4F;
    --ci4: #F6AE2D;
    --ci5: #F26419;
    --link: var(--ci1);
    --link-hover: var(--ci2);
    --btn-bg: var(--ci1);
    --btn-bg-hover: var(--ci2);
    --nav-link: var(--ci1);
    --nav-hover: var(--ci2);
    --bg-color: #fff;
    --text-color: #333;
    --box-shadow: 0 0 0 1px rgba(0, 0, 0, .04), 0 2px 4px 0 rgba(0, 0, 0, .08);
    --round: 5px;
    --pmr-font: "Sukhumvit Set", -apple-system, BlinkMacSystemFont, "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --txt-font: var(--font-anuphan);
}

.centered {
    justify-content: center;
    align-items: center;
}

#main_picture {
    padding: 0 5em;
    transform: scale(1);
    transition: all 1.5s;
}

.container {
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    width: 100%;
    height: 100vh;
}

#bg-sky {
     background-color:hsl(195, 87%, 12%); /*hsl(195, 87%, 72%) */
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 3s;
}
.btn{
    transition: .5s;
}
/* #bg-ground {
    background-image: url(image/Untitled_Artwork.png);
    background-repeat: no-repeat;
    display: block;
    background-size: 180%;
    background-position: 0% 100%;
    height: 40%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 2s;
} */
#groundWater{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: -100%;
    transition: all 3s;
    z-index: 5;
}
#ground{
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 100%;
    bottom: 0%;
    transition: all 3s;
    z-index: 6;
}
.mySlides {
    width:100%;
}

.hidden{
    opacity: 0;
}

.dialog {
    z-index: 3;
    color: #fff;
    transition: 1s;
    margin: auto;
    margin-top: 75em;
    text-align: center;
}

#description{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
    text-align: center;
    opacity: 0;
    transition: 2.5s;
}

div#text {
    display: flex;
    z-index: 2;
    margin: auto;
    margin-top: 10em;
    height: 40%;
}

div#intro {
    z-index: 3;
    margin: auto;
    margin-top: 5em;
    height: 40%;
    opacity: 0;
    transition: 2s;
    color: #fff;
}

div#scroll {
    text-align: center;
    z-index: 7;
    height: 40%;
    opacity: 100;
    transition: 2s;
    color: #fff;
    
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#next_icon{
    animation: fadeIn 1s infinite alternate;
}

div#text p {
    color: #fff;
}

div#contain {
    opacity: 0;
    display: flex;
    position: fixed;
    top: 35%;
    left: 25%;
    margin: auto;
    margin-bottom: 10em;
    z-index: 6;
    height: 60%;
    width: 1000px;
    justify-content: space-around;
    align-items: center;
    transition: 2s;
}

#final{
    text-align: center;
    position: fixed;
    top: 30%;
    left: 25%;
    opacity: 0;
    transition: 2s;
}
#text_restart{
    position: fixed;
    top: -85%;
    left: 40%;
    opacity: 0;
    transition: 2s;
}
/* ---------------------------CLOID------------------------------- */

#sky_obj {
    position: absolute;
    z-index: 1;
    transition: 1.5s;
}

#cloud1 {
    width: 300px;
    height: 100px;
    background: #e5f3ff;
    margin: 140px 0 0 0;
    border-radius: 50px;
    -webkit-transform: translateX(400px);
    -webkit-animation: move 7s linear infinite;
    display: block-inline;
}

#cloud1:before {
    content: "";
    position: absolute;
    width: 180px;
    height: 180px;
    background: #e5f3ff;
    border-radius: 50%;
    margin: -100px 0 0 20px;
}

#cloud1:after {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background: #e5f3ff;
    border-radius: 50%;
    margin: -60px 0 0 165px;
}

#cloud2 {
    width: 200px;
    height: 70px;
    background: #e5f3ff;
    margin: 60px 0 0 300px;
    border-radius: 50px;
    -webkit-transform: translateX(520px);
    -webkit-animation: move 12s linear infinite;
    display: block-inline;
}

#cloud2:before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background: #e5f3ff;
    border-radius: 50%;
    margin: -70px 0 0 20px;
}

#cloud2:after {
    content: "";
    position: absolute;
    width: 90px;
    height: 90px;
    background: #e5f3ff;
    border-radius: 50%;
    margin: -40px 0 0 100px;
}

#center_text {
    opacity: 0;
    text-align: center;
    margin-top: 10vh;
    z-index: 7;
    position: absolute;
    top: 20%;
    left: 25%;
}

#restart {
    display: none;
    transition: 3s;
}
#LabelFinalSecond{
    color: #444;
}
#all_page {
    position: fixed;
    width: 100%;
}
/* hsl(200, 71%, 66%); */
#water {
    background-color:hsl(200, 71%, 66%);
    background-repeat: no-repeat;
    display: block;
    background-size: 180%;
    background-position: 0% 100%;
    height: 40%;
    width: 100%;
    position: absolute;
    left: 0%;
    bottom: -100%;
    transition: all 2s;
    z-index: 4;
}
@-webkit-keyframes move {
    0% {
        -webkit-transform: translateX(1650px);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-340px);
        opacity: 0;
    }
}

#c1 {
    width: 200px;
    left: 38%;
    top: 80%;
    position: fixed;
    transition: 0.5s;
}

#c2 {
    width: 300px;
    left: 50%;
    top: 80%;
    position: fixed;
    z-index: 4;
    transition: 0.5s;
}

#c3 {
    width: 400px;
    position: fixed;
    left: 5%;
    top: 50%;
    z-index: 4;
    transition: 0.5s;
}

#c4 {
    width: 200px;
    position: fixed;
    left: 27%;
    top: 75%;
    transition: 0.5s;
}

#c5 {
    width: 200px;
    position: fixed;
    top: 60%;
    left: 40%;
    transition: 0.5s;
}

#c6 {
    width: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transition: 0.5s;
}

#c7 {
    width: 100px;
    position: fixed;
    top: 45%;
    left: 57%;
    transition: 0.5s;
}

#c8 {
    width: 130px;
    position: fixed;
    top: 50%;
    left: 65%;
    transition: 0.5s;
}

#c9 {
    width: 150px;
    position: fixed;
    top: 50%;
    left: 75%;
    transition: 0.5s;
}

#c10 {
    width: 140px;
    position: fixed;
    top: 50%;
    left: 85%;
    transition: 0.5s;
}

#c4:hover,
#c1:hover,
#c5:hover {
    width: 250px;
    transition: 0.5s;
}

#c2:hover {
    width: 400px;
    transition: 0.5s;
}

#c3:hover {
    width: 450px;
    transition: 0.5s;
}

#c6:hover,
#c7:hover {
    width: 120px;
    transition: 0.5s;
}

#c8:hover,
#c9:hover,
#c10:hover {
    width: 160px;
    transition: 0.5s;
}

#sence_final{
    opacity: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    transition: all 2s;
    }
/* ---------------------------CLOID------------------------------- */

#main_picture.hid, #routeA.hid,#routeB.hid,#description.hid,#final.hid,#text_restart.hid{
    transform: scale(0);
}

.show {
    transform: scale(1);
}

@import "compass/css3";
@keyframes fadeIn {
    from {
        opacity: 0;
    }
}
* {
    box-sizing: border-box;
    margin: 0; padding: 0;
  }
  :hover{
    outline: 0!important;
    outline-offset: 0;
  }
  ::before,
  ::after {
    position: absolute;
    content: "";
  }
  
  .btns-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 10px auto 35px;
  }
  .btns {
    position: relative;
    display: inline-block;
    width: auto; height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0px 25px 15px;
    min-width: 150px;
  }
    .btns span {         
      position: relative;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      top: 0; left: 0;
      width: 100%;
      padding: 15px 20px;
      transition: 0.3s;
    }
  
  
  
  /* 2.hover-filled-slide-up */
  .btns.hover-filled-slide-up::before {
    top: 0; left: 0; right: 0;
    height: 100%; width: 100%;
  }
  .btns.hover-filled-slide-up:hover::before {
    height: 0%;
  }
  
  /*--- btn-2 ---*/
  .btns-2::before {
    background-color: rgb(28, 31, 30);
    transition: 0.3s ease-out;
  }
  .btns-2 span {
    color: rgb(28, 31, 30);
    border: 1px solid rgb(28, 31, 30);
    transition: 0.2s;
  }  
  .btns-2 span:hover {
    color: rgb(255,255,255);
    transition: 0.2s 0.1s;
  }
  /* 10. hover-opacity */
  .btns.hover-opacity::before {
    top:0; bottom: 0; right: 0;
    height: 100%; width: 100%;
    opacity: 0;
  }
  .btns.hover-opacity:hover::before {
    opacity: 1;
  }
 